:root {
	--main-bg-color: #e4002b;
	--main-padding: 1rem;
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500 !important;
	font-size: 16px !important;
	line-height: 19px !important;
	color: #222025 !important;
}

body.fixed {
	overflow-y: hidden;
}

h1 {
	color: var(--main-bg-color) !important;
}

.gif-error-page {
	margin-top: -50px;
	margin-right: 100px;
	width: 300px !important;
	height: 300px !important;
	transform: rotate(-320deg);
}

/* ERRORPAGE */
.number-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.number-box-four {
	font-style: italic;
	color: rgb(44, 39, 39);
	font-size: 250px !important;
	font-weight: 900 !important;
	font-family: 'Calibri';
}

.round-circle {
	background-color: rgba(130, 229, 166, 0.774);
	width: 330px !important;
	height: 230px !important;
	border-radius: 50% !important;
	transform: rotate(-40deg);

.word-error-page {
	font-style: italic;
	font-weight: 650 !important;
	font-size: 60px !important;
	display: flex;
	justify-content: center;
	color: rgb(44, 39, 39);
}

.small-word {
	font-size: 32px;
	line-height: 37px;
	color: rgb(44, 39, 39);
	display: flex;
	justify-content: center;
	font-weight: 500 !important;
}


/* SERACH */

::placeholder {
	font-size: 25px;
	font-weight: 550;
}

.search-button {
	position: relative;
	display: block;
	height: 60px;
	width: 130px;
	border: 1px solid #ffffff;
	color: #ffffff;
	background-color: #e4002b;
	border-radius: 40px 20px;
}

.options {
	font-size: 55px;
	line-height: 60px;
	text-align: center;
	color: #DCDCDF
}

.search-options, .search-optionss{
	font-weight: 700;
}

.search-options:hover{
	color: #e4002b;
}

/* HEADER */

.header-context {
	width: 100%;
	height: 130px;
	background-color: turquoise;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-radius: 0 0 30px 30px;
	transition: all .4s cubic-bezier(.41, .35, .02, .94) 0s;
}

.list_link>ul {
	cursor: pointer;
	margin-right: 30px;

}

.list_link>ul:hover {
	color: red;
	border-radius: 5px;
}

ul {
	display: block;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.language_btn {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* FOOTER */

.footer-context {
	position: absolute;
	bottom: 0;
	width: 80% !important;
	background-color: #fff !important;
}

.media_icons {
	font-size: 60px;
	color: var(--main-bg-color);
}

.footer_categories {
	display: flex;
	flex-direction: row;
}

.hovering {
	cursor: pointer;
}

.hovering:hover {
	color: var(--main-bg-color);
}

.footer_categories>p {
	color: rgba(35, 30, 46, .4);
}